<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mahasiswa - {{ name }}</title>
    
    <!-- Fonts -->
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">

    <!-- Ionicons: module script for modern browsers -->
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<!-- Ionicons: fallback for older browsers -->
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <link rel="stylesheet" href="/static/css/style.css">
    
</head>

<body>
    <header class="site-header">
        <div class="container">
            <a href="{% url 'main:show_main' %}" class="brand">By {{ name }}</a>
            <nav>
                <a href="{% url 'main:show_main' %}">Profile</a>
                <a href="{% url 'main:show_experience' %}">Experience</a>
                <a href="{% url 'main:show_mahasiswa' %}">Mahasiswa</a>
            </nav>
        </div>
    </header>
    
    <main>
        <section class="mahasiswa-section" id="mahasiswa">
            <div class="container">
                <p class="section-kicker">List of students</p>
                <h1>mahasiswa</h1>

                <div class="mahasiswa-grid">
                    {% for mahasiswa in mahasiswa_list %}
                        <article class="mahasiswa-card">
                            <h2>{{ mahasiswa.nama }} - {{ mahasiswa.npm}} </h2>
                        </article>
                    {% empty %}
                        <p class="empty-state">
                            No mahasiswa has been added yet.
                        </p>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>

    <footer class="site-footer">
        <div class="container">
            <p>&copy; 2026 {{ name }}. Fakultas Ilmu Komputer, Universitas Indonesia.</p>
        </div>
    </footer>
</body>
</html>
